<div class="wrapper-header">
        <div class="row">
        <div class="col-xs-12 col-md-8">
        <ul class="menu-header">
        
        <li>Acesse sua conta</li>
        <li><input type="text" class="form-control" id="inlineFormInputName" placeholder="CNPJ"></li>
        
        </ul>
        </div>
        <div class="col-xs-12 col-md-4">
        <form>
        <div class="form-row align-items-center">
        <div class="col-auto my-1">
      
        
        </div>
        <div class="col-auto my-1">
        <button type="button" (click)="gotoGraficos()"  class="btn btn-primary acessar-conta">Acessar</button>
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>