<div class="wrapper">
        <div class="topicos">
        <div class="container">
        <div class="row">
        <div class="col-3">
        <ul class="topicos-footer">
        
        <li>Desenvolvido por Consulte TI</li>
        </ul>
        </div>
        <div class="col-3">
        <ul class="topicos-footer">
        <h6>Para você</h6>
        
        <li>Gráficos</li>
        </ul>
        </div>
        <div class="col-3">
        <ul class="topicos-footer">
        <h6>Contagem de pessoas</h6>
        
        </ul>
        </div>
        </div>
        </div>
        </div>
        <footer class="rodape">
        <p class="text-center">&copy; Todos os Direitos reservados a
        <b>TI Consulte Tecnologia</b>
        </p>
        </footer>
        </div>
